.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
core-tools
output/
manifest/output/
temp/
data/db.sqlite
logs/
public/uploads/
gf
data/dzhcore.sqlite
lock.json
*.sum
go.work
other
resource/

data/
.env
dzhcore/*
# 忽略 addons 目录下的所有内容
addons/*
manifest/config/config-crm.yaml

# 但不忽略这三个子目录及其内容
!addons/dict/
!addons/space/
!addons/task/
!addons/member/
